*{
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: #F1F1F1 !important;
  font-family: Quicksand, Sans-serif !important;
}
.nav-head-content{
  background-color:white;
  width:100%;
  height: 1000px;
}
.navbar{
  border-radius: 11px !important;
  
}
.title a{
  font-size: 16px;
  font-style: normal;
}
.content{
  margin-top:15px;
  background-color:white;
  border-radius: 11px !important;
}
.infor{
  font-size: 13px;

}
.infor2{
  background-color:rgb(245 245 245);
}
.padd-infor{
  padding-top: 15px;
  padding-bottom: 15px;
}
