body {
  font-family: "Quicksand", Sans-serif;
}

.swiper-slide-bg {
  height: 937px;
  background-size: cover;
  background-position: 50% !important;
  background-color: black;

}

@media screen and (max-width:600px) {
  .swiper-slide-bg {
    height: 480px;
  }
}

.elementor-heading-title {
  color: #050505;
  font-family: "Quicksand", Sans-serif;
  font-size: 36px;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 600;
  
}

.elementor-heading-title.elementor-size-large {
  font-size: 29px;
}

.Tittle {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#carouselExampleIndicators .carousel-indicators button {
  transition: 1s;
}

#carouselExampleIndicators .carousel-inner .s {
  transition: 0.3s;
}


.elementor-slide-heading,
.elementor-slide-description {
  padding-bottom: 20px;
}

.elementor-slide-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.elementor-slide-description {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.elementor-slide-button {
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.elementor-slides .swiper-slide-inner .elementor-slide-button {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  display: inline-block;
}

.elementor-button {
  display: inline-block;
  line-height: 1;
  background-color: #ffffff;
  font-size: 15px;
  padding: 12px 24px;
  -webkit-border-radius: 3px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  fill: #fff;
  text-align: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#carouselExampleFade .carousel-indicators button {
  transition: 1s;
}

#carouselExampleFade .carousel-inner .s {
  transition: 1s;
}

.owl-theme {
  padding: 0px 200px 0px 200px;
  margin: 0px 30px 0px 0px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 20px;
}
.swiper-slide-contents{
  text-align: center;
  height: 937px;
  padding-top: 28%;
  color: white !important;
}
.swiper-slide-contents1, .swiper-slide-contents {
position: absolute;
width: 100%;
}
.input-group {
  padding-left: 0%;;
  padding-right: 0px;
}
@media screen and (max-width:600px) {
  .owl-theme {
    padding: 0px 100px 0px 100px;
    margin: 0px 30px 0px 0px;
  }

  .item img{
    width: 100%;
    height: 300px !important;
  }
  .input-group input{
    width: 100% !important;
}
}
.item img{
  width: 204px; height: 204px;
}
.item .jet-woo-product-title {
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  order: 1;
  padding-top: 10px;
    padding-bottom: 5px;
}
.item .jet-woo-product-title a {
  color: #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

.swiper-slide a {
  display: inline;
}
.item .jet-woo-product-price {
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #949494;
  text-align: center;
  order: 1;
  padding-top: 5px;
    padding-bottom: 5px;
}
.item .jet-woo-product-price .woocommerce-Price-currencySymbol {
  vertical-align: baseline;
}
